<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row clearfix">
<div class="col-md-12">
<div id="bestWayToReachYou" class="form-group form-group-default required">
<label>Best way to reach you</label>
<select v-model="model.bestWayToReachYou" class="full-width" data-init-plugin="cs-select">
<option value="">Select a best way to reach you</option>
<option value="email">email</option>
<option value="home">home</option>
<option value="office">office</option>
</select>
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="homePhone" :class="{ required: model.bestWayToReachYou === 'home' }" class="form-group form-group-default">
<label>Home number</label>
<masked-input v-model="model.homePhone" mask="\+\1 (111) 111-1111" placeholder="Home Phone" class="form-control" type="tel" />
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="officePhone" :class="{ required: model.bestWayToReachYou === 'office' }" class="form-group form-group-default">
<label>Office number</label>
<masked-input v-model="model.officePhone" mask="\+\1 (111) 111-1111" placeholder="Office Phone" class="form-control" type="tel" />
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-12">
<div id="emailContact" :class="{ required: model.bestWayToReachYou === 'email' }" class="form-group form-group-default">
<label>Email contact</label>
<input v-model="model.emailContact" class="form-control" placeholder="eg. name@example.com" />
</div>
<span class="error"></span>
</div>
</div>
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
        </div>

      </div>
    </div>
  </v-layout>

</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import MaskedInput from 'vue-masked-input'

  export default {
    /**
     * The name of the page.
     */
    name: 'profileEditInformation-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          emailContact: this.$store.state.account.emailContact === '' || this.$store.state.account.emailContact === null ? this.$store.state.account.credential : this.$store.state.account.emailContact,
          homePhone: this.$store.state.account.homePhone,
          officePhone: this.$store.state.account.officePhone,
          bestWayToReachYou: this.$store.state.account.bestWayToReachYou === '' || this.$store.state.account.bestWayToReachYou === null ? '' : this.$store.state.account.bestWayToReachYou
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'put', url: 'api/profile/edit/contacts', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      MaskedInput,
      VLayout
    }
  }
</script>
