<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row clearfix">
<div class="col-md-6">
<div id="firstName" class="form-group form-group-default">
<label>First name</label>
<input v-model="model.firstName" type="text" placeholder="first name" class="form-control">
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="lastName" class="form-group form-group-default required">
<label>Last name</label>
<input v-model="model.lastName" type="text" placeholder="last name" class="form-control">
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="birthDate" class="form-group form-group-default required">
<label>Birthdate</label>
<masked-input v-model="model.birthDate" class="form-control" mask="1111-11-11" placeholder="yyyy-mm-dd" />
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="gender" class="form-group form-group-default required">
<label>Gender</label>
<div class="input-group">
<div class="radio radio-success row">
<div class="col-md-6">
    <input type="radio" v-model="model.gender" value="male" id="male">
    <label for="male">Male</label>
</div>
<div class="col-md-6">
    <input type="radio" v-model="model.gender" value="female" id="female">
    <label for="female">Female</label>
    </div>
  </div>
</div>

</div>
<span class="error"></span>
</div>
</div>
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
        </div>

      </div>
    </div>
  </v-layout>

</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import MaskedInput from 'vue-masked-input'

  export default {
    /**
     * The name of the page.
     */
    name: 'profileEditInformation-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          firstName: this.$store.state.account.firstName,
          lastName: this.$store.state.account.lastName,
          birthDate: this.$store.state.account.birthDate,
          gender: this.$store.state.account.gender
        }
      }
    },

    created: function () {
      // console.log(this.$store.state.account.firstName)
    },
    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'put', url: 'api/profile/edit/information', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      MaskedInput
    }
  }
</script>
