<template>
<div>
<div class="header p-r-0 bg-primary">
<div class="header-inner header-md-height">

<a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
<div class="">
<div class="brand inline no-border hidden-xs-down">
<img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo_white.png" alt="logo" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo_white.png" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo_white_2x.png" width="78" height="22">
</div>


</div>
<div class="d-flex align-items-center">

<div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
<span class="semi-bold">David</span> <span class="">Nest</span>
</div>
<div class="dropdown pull-right">
<button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
<img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/avatar.jpg" alt="" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/avatar.jpg" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
</span>
</button>
<div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
<a href="#" class="dropdown-item"><i class="pg-settings_small"></i> Settings</a>
<a href="#" class="dropdown-item"><i class="pg-outdent"></i> Feedback</a>
<a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>
<a href="#" class="clearfix bg-master-lighter dropdown-item">
<span class="pull-left">Logout</span>
<span class="pull-right"><i class="pg-power"></i></span>
</a>
</div>
</div>

<ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-30 p-r-20">
<li class="p-r-10 inline">
<div class="dropdown">
<a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
<span class="bubble"></span>
</a>

<div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">

<div class="notification-panel">

<div class="notification-body scrollable">

<div class="notification-item unread clearfix">

<div class="heading open">
<a href="#" class="text-complete pull-left">
<i class="pg-map fs-16 m-r-10"></i>
<span class="bold">Carrot Design</span>
<span class="fs-12 m-l-10">David Nester</span>
</a>
<div class="pull-right">
<div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
<div><i class="fa fa-angle-left"></i>
</div>
</div>
<span class=" time">few sec ago</span>
</div>
<div class="more-details">
<div class="more-details-inner">
<h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br>
distinguishes between <br>
A leader and a follower.”</h5>
<p class="small hint-text">
Commented on john Smiths wall.
<br> via pages framework.
</p>
</div>
</div>
</div>


<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item  clearfix">
<div class="heading">
<a href="#" class="text-danger pull-left">
<i class="fa fa-exclamation-triangle m-r-10"></i>
<span class="bold">98% Server Load</span>
<span class="fs-12 m-l-10">Take Action</span>
</a>
<span class="pull-right time">2 mins ago</span>
</div>

<div class="option">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item  clearfix">
<div class="heading">
<a href="#" class="text-warning-dark pull-left">
<i class="fa fa-exclamation-triangle m-r-10"></i>
<span class="bold">Warning Notification</span>
<span class="fs-12 m-l-10">Buy Now</span>
</a>
<span class="pull-right time">yesterday</span>
</div>

<div class="option">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item unread clearfix">
<div class="heading">
<div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
<img width="30" height="30" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/1x.jpg" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/1.jpg" alt="" src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/profiles/1.jpg">
</div>
<a href="#" class="text-complete pull-left">
<span class="bold">Revox Design Labs</span>
<span class="fs-12 m-l-10">Owners</span>
</a>
 <span class="pull-right time">11:00pm</span>
</div>

<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
<a href="#" class="mark"></a>
</div>

</div>

</div>


<div class="notification-footer text-center">
<a href="#" class="">Read all notifications</a>
<a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
<i class="pg-refresh_new"></i>
</a>
</div>

</div>

</div>

</div>
</li>
</ul>
</div>
</div>
<div class="bg-white">
<div class="container">
<div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
<a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
</a>
<ul>
<li>
<a href="javascript:;"><span class="title">Profile</span>
<span class=" arrow"></span></a>
<ul class="">
<li class="">
<a href="/profile/edit/information">Edit information</a>
</li>
<li class="">
<a href="/profile/edit/password">Edit password</a>
</li>
<li class="">
<a href="/profile/edit/role">Edit role</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;"><span class="title">Buying proposal</span>
<span class=" arrow"></span></a>
<ul class="">
<li class="">
<a href="/buy/list">List buying proposal</a>
</li>
<li class="">
<a href="/profile/buy/new">New buying proposal</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;"><span class="title">Renting proposal</span>
<span class=" arrow"></span></a>
<ul class="">
<li class="">
<a href="/rent/list">List renting proposal</a>
</li>
<li class="">
<a href="/profile/rent/new">New renting proposal</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;"><span class="title">Property</span>
<span class=" arrow"></span></a>
<ul class="">
<li class="">
<a href="/property/list">List of properties</a>
</li>
<li class="">
<a href="/profile/property/new">New property</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;">
<span class="title">Payment</span>
<span class="   arrow"></span>
</a>
<ul class="">
<li class="">
<a href="javascript:;">History of payment</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;"><span class="title">Tables</span>
<span class=" arrow"></span></a>
</li>
<li>
<a href="javascript:;"><span class="title">Maps</span>
<span class=" arrow"></span></a>
</li>
<li>
<a href="javascript:;"><span class="title">Extra</span>
<span class=" arrow"></span></a>
<ul class="">
<li class="">
<a href="invoice.html">Invoice</a>
</li>
<li class="">
<a href="404.html">404 Page</a>
</li>
<li class="">
<a href="500.html">500 Page</a>
</li>
<li class="">
<a href="blank_template.html">Blank Page</a>
</li>
<li class="">
<a href="login.html">Login</a>
</li>
<li class="">
<a href="register.html">Register</a>
</li>
<li class="">
<a href="lock_screen.html">Lockscreen</a>
</li>
<li class="">
<a href="gallery.html">Gallery</a>
</li>
<li class="">
<a href="timeline.html">Timeline</a>
</li>
</ul>
</li>
</ul>
<a href="#" class="search-link d-flex justify-content-between align-items-center hidden-lg-up" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
</div>
</div>
</div>
</div>
<div class="page-container ">

<div class="page-content-wrapper ">

<div class="content ">
<div class="bg-white">
<div class="container">
<ol class="breadcrumb breadcrumb-alt">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active">Form layouts</li>
</ol>
</div>
</div>

<div class=" container    container-fixed-lg">

<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row clearfix">
<div class="col-md-12">
<div id="location" class="form-group required">
<label>City</label>
  <multiselect
    v-model="model.location" 
    id="ajax" 
    label="name" 
    track-by="id" 
    placeholder="Type to search" 
    open-direction="bottom" 
    :custom-label="nameWithProvince"
    :clear-on-select="true"
    :options="cities" 
    :searchable="true" 
    :loading="isLoading" 
    :internal-search="false" 
    :close-on-select="true" 
    :options-limit="300"
    :max-height="600" 
    :show-no-results="true"
    :multiple="true" 
    @search-change="onChangeLocation">
    <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
  </multiselect>
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="status" class="form-group form-group-default required">
<label>Status of proposal</label>
                                    <select v-model="model.status" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in isActivated" :value="increment">{{ increment }}</option>
                                    </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="urgent" class="form-group form-group-default required">
<label>Urgency of proposal</label>
                                    <select v-model="model.urgent" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in urgencyOfProposal" :value="increment">{{ increment }}</option>
                                    </select>
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="ageOfProperty" class="form-group form-group-default required">
<label>age of property</label>
<select v-model="model.ageOfProperty" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_new">new </option>
                                      <option value="in_used">in use</option>
                                    </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="size" class="form-group form-group-default required">
<label>Size of property</label>
                                    <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-4">
<div id="isFurnished" class="form-group form-group-default">
<label>is furnished</label>
                                    <select v-model="model.isFurnished" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_furnished">is furnished</option>
                                      <option value="not_furnished">not furnished</option>
                                    </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="priceMinimum" class="form-group form-group-default required">
<label>price min</label>
<numeral-input v-model="model.priceMinimum" format="$ 0,0" placeholderValue="Minimum price" className="form-control" />
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="priceMaximum" class="form-group form-group-default required">
<label>price max</label>
<numeral-input v-model="model.priceMaximum" format="$ 0,0" placeholderValue="Maximum price" className="form-control" />
</div>
<span class="error"></span>
</div>
</div>

<div id="typeOfProperty" class="form-group form-group-default required">
<label>type of property</label><br />
<div class="row">
<div v-for="increment in typeOfProperty" class="col-md-4">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment"> {{ increment }}
  </label>
</div>
</div>
</div>
<span class="error"></span>
<br />
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
</div>

</div>
</div>
</div>




</div>



<div class=" container   container-fixed-lg footer">
<div class="copyright sm-text-center">
<p class="small no-margin pull-left sm-pull-reset">
<span class="hint-text">Copyright &copy; 2017 </span>
<span class="font-montserrat">REVOX</span>.
<span class="hint-text">All rights reserved. </span>
<span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="#" class="m-l-10">Privacy Policy</a></span>
</p>
<p class="small no-margin pull-right sm-pull-reset">
Hand-crafted <span class="hint-text">&amp; made with Love</span>
</p>
<div class="clearfix"></div>
</div>
</div>

</div>

</div>

</div>


</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Login'
  import * as constants from '@/constants/'
  import NumeralInput from '@/components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-rent-new',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          typeOfProperty: [],
          typeOfProposal: 'for_rent',
          priceMinimum: null,
          priceMaximum: null,
          isFurnished: '',
          size: null
        },
        action: null,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      urgencyOfProposal: function () {
        constants.URGENCY_OF_PROPOSAL.splice(2)
        return constants.URGENCY_OF_PROPOSAL
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_RENT
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
