<template>
  <v-layout>
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}!</h4>
  <p>{{message.object.message}}.</p>
</div>
      <form @submit.prevent="submit(model)" id="form-register" class="p-t-15" autocomplete="off" role="form">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="credential" class="form-group form-group-default required">
              <label>Email</label>
              <input type="text" v-model="model.credential" placeholder="eg. name@example.com" class="form-control">
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-lg-6">
            <p><small>I agree to the <a href="#" class="text-info">Pages Terms</a> and <a href="#" class="text-info">Privacy</a>.</small>
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <a href="#" class="text-info small">Help? Contact Support</a>
          </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
      </form>
  </v-layout>
</template>

<script>
  /* ============
   * Register Index Page
   * ============
   *
   * Page where the user can register.
   */

  import VLayout from '@/layouts/Plain'

  export default {
    /**
     * The name of the page.
     */
    name: 'recoverPassword-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          credential: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'auth/recover', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.model = {credential: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
