<template>
  <v-layout>

    <div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row clearfix">
<div class="col-md-12">
<div id="location" class="form-group required">
<label>City</label>
  <multiselect 
    v-model="model.location"
    id="ajax" 
    label="name" 
    track-by="id" 
    placeholder="Type to search" 
    open-direction="bottom" 
    :custom-label="nameWithProvince"
    :clear-on-select="true"
    :options="cities" 
    :searchable="true" 
    :loading="isLoading" 
    :internal-search="false" 
    :close-on-select="true" 
    :options-limit="300"
    :max-height="600" 
    :show-no-results="true"
    :multiple="true" 
    @search-change="onChangeLocation">
    <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
  </multiselect>
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-4">
<div id="status" class="form-group form-group-default required">
<label>Status of proposal</label>
 <select v-model="model.status" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in isActivated" :value="increment">{{ increment }}</option>
                                    </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="urgent" class="form-group form-group-default required">
<label>Urgency of proposal</label>
<select v-model="model.urgent" class="form-control input-md">
                                                                            <option value="">Select a value</option>
                                                                            <option value="urgency_regular">regular</option>
                                                                            <option value="urgency_in_rush">in rush</option>
                                                                        </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="ageOfProperty" class="form-group form-group-default required">
<label>age of property</label>
                                                                        <select v-model="model.ageOfProperty" class="form-control input-md">
                                                                            <option value="">Select a value</option>
                                                                            <option value="is_new">new </option>
                                                                            <option value="is_used">in use</option>
                                                                        </select>
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="size" class="form-group form-group-default required">
<label>Size of property</label>
                                                                        <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="priceMinimum" class="form-group form-group-default required">
<label>price min</label>
<numeral-input v-model="model.priceMinimum" format="$ 0,0" placeholderValue="Minimum price" className="form-control" />

</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-4">
<div id="priceMaximum" class="form-group form-group-default">
<label>price max</label>
<numeral-input v-model="model.priceMaximum" format="$ 0,0" placeholderValue="Maximum price" className="form-control" />
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="bedrooms" class="form-group form-group-default required">
<label>Bedroom min</label>
                                                                        <select v-model="model.bedrooms" class="form-control input-md">
                                                                            <option value="">Select a value</option>
                                                                            <option v-for="n in 9" :value="n">{{n}}</option>
                                                                            <option value="10">10+</option>
                                                                        </select>
</div>
<span class="error"></span>
</div>
<div class="col-md-4">
<div id="bathrooms" class="form-group form-group-default required">
<label>Bathroom min</label>
                                                                        <select v-model="model.bathrooms" class="form-control input-md">
                                                                            <option value="">Select a value</option>
                                                                            <option v-for="n in 9" :value="n">{{n}}</option>
                                                                            <option value="10">10+</option>
                                                                        </select>
</div>
<span class="error"></span>
</div>
</div>
<div id="typeOfProperty" class="form-group form-group-default required">
<label>Characteristics</label><br />
<div class="row">
<div v-for="increment in typeOfProperty" class="col-md-4">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment"> {{ increment }}
  </label>
</div>
</div>
</div>
<span class="error"></span>
<br />
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
</div>

</div>
</div>
  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/'
  import NumeralInput from '@/components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        isLoading: false,
        cities: []
      }
    },

    mounted: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: Transformer}
        this.$store.dispatch('form/find', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      },
      model: function () {
        let model = Object.assign({}, this.$store.state.form.formObj)
        return model
      },
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      characteristics: function () {
        return constants.CHARACTERISTICS
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
