<template>
<v-layout>
  <section class="hero" style="background: url('https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg');">
    <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5) ">
    <div class="container">
      <div class="row">
            
<div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
<div class="top-title">
                <h1>Find your buying proposal</h1>
                <div class="row gutters">
                <div class="col-12">
            <ul class="tab">
              <li class="tab-item active">
                <a href="#tabs">
                  For sale notification
                </a>
              </li>
              <li class="tab-item">
                <a href="#tabs">
                  For rent notification
                </a>
              </li>
            </ul>
          </div>
          </div>
            </div>
        <form method="get" role="search">
        <div class="row gutters">

        <div class="col col-4">
         <label for="exampleRecipientInput">Select an option</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>

        <div class="col col-4">
         <label for="exampleRecipientInput">Urgency of buying</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>

        <div class="col col-4">
         <label for="exampleRecipientInput">Type of property</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>


        

        </div>
        <div class="row gutters">
        <div class="col col-6">
        <label for="exampleRecipientInput">Location of buying</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>
        <div class="col col-3">
        <label for="priceMin">Price min</label>
      <input id="priceMin" type="text" name="" placeholder="price min">
        </div>
        <div class="col col-3">
        <label for="priceMax">Price max</label>
      <input id="priceMax" type="text" name="" placeholder="price max">
        </div>
        </div>
        <button style="margin-top: 15px;" type="submit" class="button-primary">Submit search</button>
    </form>

</div><!-- #top-search -->
      </div>
    </div>
  </div>
  </section>

  <section class="section bg-white">
    <div class="container">
      <h1>How It Works</h1><br />
      </div> <div class="container">
      <div class="row gutters">
        <div class="col col-4">
        <div class="value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/presentation.svg" style="width:100px;" /></h2>
          <h2 class="value-heading">Vone concept</h2>
          <p class="fs-15">Percentage of users more likely to purchase on mobile friendly site.</p>
          <a class="fs-14" href="#">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col col-4">
        <div class="value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/advantage.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading">Vone advantage</h2>
          <p class="fs-15">Most of the world accesses the internet on multiple devices.</p>
          <a class="fs-14" href="#">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col col-4">
        <div class=" value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/relationship.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading">Vone relationship</h2>
          <p class="fs-15">Percentage of users that are frustrated with page load times.</p>
          <a class="fs-14" href="#">Explore now <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section b-t b-grey bg-white"><div class="container">
  
      <h1>Recent listing in <span class="text-primary">Your area</span></h1><br />


  
</div>

<div class="container">

<div class="row gutters">
<div class="col col-9">
  <div class="row gutters">
      <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
          <div class="b-a b-grey b-rad-sm poster-card">
          <a href="javascript:;">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span class="badge badge-success">New</span> 
                <span class="badge badge-inverse">Regular</span> 
              </span>
              <div class="text-black fs-15 semi-bold">
                Les légumineuses à l'honneur
              </div>
              <div class="text-master fs-12 p-t-5">
                Café Dei Campi, Montréal
              </div>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="poster-card-tags">
                <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
                <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
                <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa-share-square-o"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa-bookmark-o"></i>
              </a>
            </div>
          </div>
        </div>
            </div>
            <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
                <div class="b-a b-grey b-rad-sm poster-card">
                <a href="javascript:;">
                  <div class="p-t-5 p-b-5 p-l-10 p-r-10">
                    <span class="text-black fs-12">
                      <span class="badge badge-success">New</span> 
                      <span class="badge badge-inverse">Regular</span> 
                    </span>
                    <div class="text-black fs-15 semi-bold">
                      Les légumineuses à l'honneur
                    </div>
                    <div class="text-master fs-12 p-t-5">
                      Café Dei Campi, Montréal
                    </div>
                  </div>
                </a>
                <div class="poster-card-footer">
                  <div class="poster-card-tags">
                      <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
                      <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
                      <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
                  </div>
                  <div class="poster-card-actions">
                    <a href="javascript:;">
                      <i class="fa fa-share-square-o"></i>
                    </a>
                    <a href="javascript:;">
                      <i class="fa fa-bookmark-o"></i>
                    </a>
                  </div>
                </div>
              </div>
                  </div>        
    <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
                <div class="b-a b-grey b-rad-sm poster-card">
                <a href="javascript:;">
                  <div class="p-t-5 p-b-5 p-l-10 p-r-10">
                    <span class="text-black fs-12">
                      <span class="badge badge-success">New</span> 
                      <span class="badge badge-inverse">Regular</span> 
                    </span>
                    <div class="text-black fs-15 semi-bold">
                      Les légumineuses à l'honneur
                    </div>
                    <div class="text-master fs-12 p-t-5">
                      Café Dei Campi, Montréal
                    </div>
                  </div>
                </a>
                <div class="poster-card-footer">
                  <div class="poster-card-tags">
                      <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
                      <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
                      <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
                  </div>
                  <div class="poster-card-actions">
                    <a href="javascript:;">
                      <i class="fa fa-share-square-o"></i>
                    </a>
                    <a href="javascript:;">
                      <i class="fa fa-bookmark-o"></i>
                    </a>
                  </div>
                </div>
              </div>
                  </div>

            <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
    <div class="b-a b-grey b-rad-sm poster-card">
    <a href="javascript:;">
      <div class="p-t-5 p-b-5 p-l-10 p-r-10">
        <span class="text-black fs-12">
          <span class="badge badge-success">New</span> 
          <span class="badge badge-inverse">Regular</span> 
        </span>
        <div class="text-black fs-15 semi-bold">
          Les légumineuses à l'honneur
        </div>
        <div class="text-master fs-12 p-t-5">
          Café Dei Campi, Montréal
        </div>
      </div>
    </a>
    <div class="poster-card-footer">
      <div class="poster-card-tags">
          <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
          <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
          <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
      </div>
      <div class="poster-card-actions">
        <a href="javascript:;">
          <i class="fa fa-share-square-o"></i>
        </a>
        <a href="javascript:;">
          <i class="fa fa-bookmark-o"></i>
        </a>
      </div>
    </div>
  </div>
      </div> 
          <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
              <div class="b-a b-grey b-rad-sm poster-card">
              <a href="javascript:;">
                <div class="p-t-5 p-b-5 p-l-10 p-r-10">
                  <span class="text-black fs-12">
                    <span class="badge badge-success">New</span> 
                    <span class="badge badge-inverse">Regular</span> 
                  </span>
                  <div class="text-black fs-15 semi-bold">
                    Les légumineuses à l'honneur
                  </div>
                  <div class="text-master fs-12 p-t-5">
                    Café Dei Campi, Montréal
                  </div>
                </div>
              </a>
              <div class="poster-card-footer">
                <div class="poster-card-tags">
                    <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
                    <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
                    <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
                </div>
                <div class="poster-card-actions">
                  <a href="javascript:;">
                    <i class="fa fa-share-square-o"></i>
                  </a>
                  <a href="javascript:;">
                    <i class="fa fa-bookmark-o"></i>
                  </a>
                </div>
              </div>
            </div>
                </div> 
    
                <div class="text-left col-6 p-b-10 p-l-15 p-r-0">
                    <div class="b-a b-grey b-rad-sm poster-card">
                    <a href="javascript:;">
                      <div class="p-t-5 p-b-5 p-l-10 p-r-10">
                        <span class="text-black fs-12">
                          <span class="badge badge-success">New</span> 
                          <span class="badge badge-inverse">Regular</span> 
                        </span>
                        <div class="text-black fs-15 semi-bold">
                          Les légumineuses à l'honneur
                        </div>
                        <div class="text-master fs-12 p-t-5">
                          Café Dei Campi, Montréal
                        </div>
                      </div>
                    </a>
                    <div class="poster-card-footer">
                      <div class="poster-card-tags">
                          <a class="fs-12 m-r-10" href="javascript:;">#Condominium</a>
                          <a class="fs-12 m-r-10" href="javascript:;">#Appartement</a>
                          <a class="fs-12 m-r-10" href="javascript:;">#Townhouse</a>
                      </div>
                      <div class="poster-card-actions">
                        <a href="javascript:;">
                          <i class="fa fa-share-square-o"></i>
                        </a>
                        <a href="javascript:;">
                          <i class="fa fa-bookmark-o"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                      </div>
                      
          </div>
          <button class="button-primary">See more</button>
</div>
<div class="col col-3">

      <div style="height:100%;" class="bg-success padding-20 b-rad-md text-white">
          <span class="fa fa-flag fa-3x"></span>
          
<h4 class="text-white">Device Lab</h4>
<p style="text-align: center;">Including the premium Icons Mind icon kit, Stack features a highly diverse set of icons suitable for all purposes.</p>
<p style="text-align: center;"><a href="#">Learn More</a></p>
<p> <span class="label">New</span>
      </p></div><!--end feature-->
    </div></div></div></section>



    <section style="padding-bottom:8%" class="about-community bg-radient text-white">
        <div class="container">
          <aside class="stats">
            <h5>Statistics</h5>
            <h1>4 M</h1><br />
            <h4>match up built</h4>
            <ul>
              <li class="devs">5+ Million proposals</li>
              <li class="meetups">700K+ lessor / Seller</li>
              <li class="github">731,800 properties</li>
              <li class="so">0.89 ration match up</li>
            </ul>
          </aside>
          <hgroup>
            <h1 class="text-white">Our stats of proposals, properties, profiles.</h1>
            <h4 class="text-white">
              There are millions of proposals and properties in over 200 countries worldwide.
              <a href="">Join us.</a>
            </h4>
          </hgroup>
              <div class="columns">
              <div class="column col-4">
                <div style="max-height: 140px;" class="bg-white padding-20 b-rad-md b-a b-grey">
                  <div>
                  <div><img src="/static/images/svg/pie-chart.svg" style="width:100px;"></div>
                  <h3 class="text-master fs-16">Vone concept</h3>
                </div>
                </div>
                </div>
                <div class="column col-4">
                <div style="max-height: 140px;"class="four columns value bg-white padding-20 b-rad-md b-a b-grey">
                    <div class="grid">
                  <div class="col"><img src="/static/images/svg/graph.svg" style="width: 100px;"></div>
                  <h3 class="text-master fs-16">Vone relationship</h3>
                  </div>
                </div>
                </div>
              </div>
        </div>
        </div>
      </section>

  <footer id="footer" class=" ">
      <div class="container">
          <div class="row">
              <div class="col-m-10">
                  <h3 class="footer-top logo--footer">
                      <a class="logo--header" href="javascript:;">
      <img src="/static/images/logo/logo_white.png" width="60px">
  </a>
  
                  </h3>
              </div>
                              <div class="col-m-6 ptop0">
                                              <div class="ui dropdown lang-dropdown" tabindex="0">
    <div class="default text" data-icon="g">English</div>
    <div class="ml10 right"><i data-icon="" class="ui white tiny icon"></i></div>  
    <div class="vertical menu langbox__dropdown" style="min-width: 100%;" tabindex="-1">
            <a class="item" href="https://www.zomato.com/windsor-on?lang=cs&amp;user_lang_change=1" style="padding-left: 28px !important;">Čeština</a>
            <a class="item active selected" href="https://www.zomato.com/windsor-on?lang=en&amp;user_lang_change=1" style="padding-left: 28px !important;">English</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=es&amp;user_lang_change=1" style="padding-left: 28px !important;">Español</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=id&amp;user_lang_change=1" style="padding-left: 28px !important;">Indonesian</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=it&amp;user_lang_change=1" style="padding-left: 28px !important;">Italian</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=pl&amp;user_lang_change=1" style="padding-left: 28px !important;">Polish</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=por&amp;user_lang_change=1" style="padding-left: 28px !important;">Português (BR)</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=pt&amp;user_lang_change=1" style="padding-left: 28px !important;">Português (PT)</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=sk&amp;user_lang_change=1" style="padding-left: 28px !important;">Slovenčina</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=tr&amp;user_lang_change=1" style="padding-left: 28px !important;">Türkçe</a>
            <a class="item" href="https://www.zomato.com/windsor-on?lang=vi&amp;user_lang_change=1" style="padding-left: 28px !important;">Vietnamese</a>
        </div>
  </div>                                    </div>
                      </div>
  
                  <div class="footer_divider"></div>

          
          <div class="row footer_policy_links">
              <div class="col-m-12">
                  <ul class="footer_horiz_list">
                     <li>
                          <a href="https://www.zomato.com/privacy">
                              Privacy
                          </a>
                      </li>
                      <li>
                          <a href="https://www.zomato.com/conditions">
                              Terms
                          </a>
                      </li>
                      <li>
                          <a href="https://www.zomato.com/api_policy">
                              API Policy
                          </a>
                      </li>
                       <li>
                          <a href="https://www.zomato.com/corporate-social-responsibility">
                              CSR
                          </a>
                      </li>
                      <li>
                          <a href="https://www.zomato.com/security">
                              Security
                          </a>
                      </li>
                      <li>
                          <a href="https://www.zomato.com/directory">
                              Sitemap
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="social-container col-m-4">
                  <a target="_blank" href="https://twitter.com/zomato"><div class="social-icons twitter" data-icon="t"></div></a>
                  <a target="_blank" href="https://www.instagram.com/zomato/"><div class="social-icons instagrm" data-icon="4"></div></a>
                  <a target="_blank" href="https://www.facebook.com/zomato"><div class="social-icons facebook" data-icon="¶"></div></a>
              </div>
          </div>
  
          <div class="footer_divider"></div>
          <div class="footer-bottom row">
              <div class="footer-msg">
                                     By continuing past this page, you agree to our <a href="http://www.zomato.com/conditions" rel="nofollow">Terms of Service</a>, <a href="http://www.zomato.com/cookiepolicy" rel="nofollow">Cookie Policy</a>, <a href="http://www.zomato.com/privacy" rel="nofollow">Privacy Policy</a> and <a href="http://www.zomato.com/policies" rel="nofollow">Content Policies</a>. All trademarks are properties of their respective owners. © 2008-2017 - <a href="http://www.zomato.com">Zomato</a>™ Media Pvt Ltd. All rights reserved.
                              </div>
          </div>
          <a href="https://plus.google.com/104017429609258707097" rel="publisher" class="hidden">Find us on Google+</a>
      </div>
  </footer>
</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>