/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 2rem 0;
  text-align: center;
}

.section h2 {
  font-weight: 400
}
.hero {
  color:#f5f6f7;
}
.hero .wrapper {
  padding: 2rem 0;
}
.top-title h1 {
  color:#f5f6f7;
}

.top-search {
  padding: 1rem;
  border-radius: 5px;
  width: 900px;
  margin: 0 auto;
}

.about-community .container {
  position: relative
}
.about-community .stats {
  background: #fff;
  border-radius: 4px;
  color: #529eff;
  width: 412px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: -19px;
  padding: 25px 55px 22px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .2)
}

.about-community .stats h5 {
  background: #fff;
  color: #b8c1cf;
  font-size: 11px;
  position: relative;
  padding: 0 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .2em
}
.about-community .stats h5::after,
.about-community .stats h5::before {
  content: '';
  left: 0;
  right: 73%;
  border-bottom: 1px solid #d0d6e0;
  display: block;
  top: 4px;
  position: absolute
}
.about-community .stats h5::after {
  left: 73%;
  right: 0
}
.about-community .stats h1 {
  font-weight: 600;
  font-size: 78px;
  letter-spacing: -3px;
  margin-bottom: 0;
  margin-top: 36px
}
.about-community .stats h4 {
  margin-top: -3px;
  font-size: 13px;
  color: #272a2f;
  font-weight: 700;
  letter-spacing: 5px
}
.about-community .stats ul {
  list-style: none;
}

.about-community .stats li {
  font-weight: 700;
  text-align: left;
  position: relative;
  letter-spacing: .15em;
  padding: 12px 0 16px 37px;
  font-size: 13px
}
.about-community hgroup {
  padding-top: 40px;
  margin-right: 425px;
  padding-bottom: 40px
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Bigger than 750 */
@media (min-width: 750px) {

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}