@charset "UTF-8";











.nav {
    display: block;
    border-bottom: 2px solid #cdd1d4;
}
.navDefault {
    font-size: 0;
    padding: 0;
    position: relative
}
.navDefault>li {
    font-size: 15px;
    text-align: center
}
.navDefault>li a {
    color: #cdd1d4;
    outline: 0;
    padding: 12px 20px;
    float: left
}
.navDefault>li:first-child a {
    padding:  10px 10px 10px 0px;
}
.navDefault>li a.active,
.navDefault>li a:focus,
.navDefault>li a:hover {
    color: #f5f6f7
}
.navDefault:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}