<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
  /* ============
   * Entry Point
   * ============
   *
   * The entry point of the application
   */
  import websocketListener from '@/utils/websocket-listener'
  export default {
    /**
     * The name of the application.
     */
    name: 'proov-app',

    methods: {
      subscription: function () {
        return websocketListener.register([
          {route: '/topic/greetings', callback: this.getConsole}
        ])
      },
      getConsole: function () {
        console.log('test')
      }
    },
    /**
     * Fires when the app has been mounted.
     */
    mounted () {
      // If the user is authenticated,
      // fetch the data from the API
      if (this.$store.state.auth.authenticated) {
        // this.subscription()
        this.$store.dispatch('account/find')
      }
    }
  }
</script>
