<template>
  <v-layout>
    <section class="hero" style="background: url(&quot;https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg&quot;);">
      <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5);">
        <div class="container">
          <div class="row">
            <div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
              <div class="top-title">
                <h1>About us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="img/landing-22.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                        </div>
                        <div class="col col-6">
                            <div class="switchable__text">
                                <h2>Perfect components for modern startups</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch feature-large">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <img alt="Image" class="border--round" src="img/device-6.png" />
                        </div>
                        <div class="col col-6">
                            <div class="switchable__text">
                                <h2>Build and edit pages in the comfort of your browser</h2>
                                <p class="lead">
                                    Variant's live front-end page building means creating attractive layouts it easy for everyone.
                                </p>
                                <a href="http://trystack.mediumra.re/variant/builder.html" target="_blank">Try Variant Page Builder now &nearr;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Clock-Back color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        Save time with a multitude of styled components designed to showcase your content
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col col-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Duplicate-Window color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        Construct mockups or production-ready pages in-browser with Variant Page Builder
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col col-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Life-Jacket color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        Take comfort in 6 months included support with a dedicated support forum
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <h2>Customers use Stack to power their projects</h2>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--sm unpad--bottom switchable text-center testimonial testimonial-1 bg--secondary">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <img alt="Image" src="img/avatar-large-1.png" />
                        </div>
                        <div class="col col-6">
                            <div class="switchable__text">
                                <blockquote>
                                    &ldquo;There's a feeling of structure that you can't find in other templates &mdash; Stack has become my default template.&rdquo;
                                </blockquote>
                                <h5>Jason Briggs</h5>
                                <span>Envato Customer</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="text-center space--sm footer-5  ">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <div class="heading-block">
                                <ul class="list-inline list--hover">
                                    <li>
                                        <a href="#">
                                            <span>Our Company</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Locations</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Products</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Work With Us</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul class="social-list list-inline list--hover">
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-google icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-twitter icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-facebook icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-instagram icon icon--xs"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="type--fine-print">Made in Melbourne</span>
                                <img alt="Image" class="flag" src="img/flag-2.png" />
                            </div>
                            <div>
                                <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> Stack Inc.</span>
                                <a class="type--fine-print" href="#">Privacy Policy</a>
                                <a class="type--fine-print" href="#">Legal</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>

  </v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>