<template>
<v-layout>
<div class="row">
<div class="social-wrapper">
<div class="social " data-pages="social">

<div class="jumbotron" data-pages="parallax" data-social="cover">
<div class="cover-photo" style="background-image: url(&quot;assets/img/social/cover.jpg&quot;); transform: translateY(0px);">

</div>
<div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
<div class="inner" style="transform: translateY(0px); opacity: 1;">
<div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
<h5 class="text-white no-margin">welcome to pages social</h5>
<h1 class="text-white no-margin"><span class="semi-bold">social</span> cover</h1>
</div>
</div>
</div>
</div>

<div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
<div class="feed">

<div class="day" data-social="day" style="position: relative; width: 940px; height: 1390px;">

<div class="card no-border bg-transparent full-width" data-social="item" style="position: absolute; left: 0px; top: 0px;">

<div class="container-fluid p-t-30 p-b-30 ">
<div class="row">
<div class="col-lg-4">
<div class="container-xs-height">
<div class="row-xs-height">
<div class="social-user-profile col-xs-height text-center col-top">
<div class="thumbnail-wrapper d48 circular bordered b-white">
<img alt="Avatar" width="55" height="55" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg">
</div>
<br>
<i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
</div>
<div class="col-xs-height p-l-20">
<h3 class="no-margin p-b-5">David Nester</h3>
<p class="no-margin fs-16">is excited about the new pages design framework
</p>
<p class="hint-text m-t-5 small">San Fransisco Bay | CEO at Pages.inc
</p>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<p class="no-margin fs-16">Hi My Name is David Nester, &amp; heres my new pages user profile page</p>
<p class="hint-text m-t-5 small">I love reading people's about page especially those who are in the same industry as me.</p>
</div>
<div class="col-lg-4">
<p class="m-b-5 small">1,435 Mutual Friends</p>
<ul class="list-unstyled ">
<li class="m-r-10">
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="assets/img/profiles/1.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="assets/img/profiles/2.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="assets/img/profiles/3.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="assets/img/profiles/4.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="assets/img/profiles/5.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="assets/img/profiles/6.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="assets/img/profiles/7.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white">
<div class="bg-master text-center text-white"><span>+34</span>
</div>
</div>
</li>
</ul>
<br>
<p class="m-t-5 small">More friends</p>
</div>
</div>
</div>

</div>


<div class="card social-card col2 padding-20" data-social="item" style="position: absolute; left: 0px; top: 198px;">
<form class="simform no-margin" autocomplete="off" data-social="status">
<div class="status-form-inner">
<ol class="questions">
<li class="current">
<span>
<label for="status-q1">What's on your mind?</label>
</span>
<input id="status-q1" name="q1" type="text">
</li>
<li>
<span>
<label for="status-q2">What are you feeling?</label>
</span>
<input id="status-q2" name="q2" type="text">
</li>
<li>
<span>
<label for="status-q3">What's your location?</label>
</span>
<input id="status-q3" name="q3" type="text">
</li>
<li>
<span>
<label for="status-q4">Who are you with?</label>
</span>
<input id="status-q4" name="q4" type="text">
</li>
</ol>

<button class="submit" type="submit">Send answers</button>
<div class="controls">
<button class="next show"></button>
<div class="progress"></div>
<span class="number">
<span class="number-current">1</span>
<span class="number-total">4</span>
</span>
<span class="error-message"></span>
</div>

</div>

<span class="final-message"></span>
</form>

</div>


<div class="card social-card status col2" data-social="item" style="position: absolute; left: 0px; top: 318px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<h5>David Nester updated his status
<span class="hint-text">few seconds ago</span></h5>
<h2>Earned my first salary bonus for the best design of the year award.</h2>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 640px; top: 198px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5x.jpg">
</div>
<h5>Shannon Williams</h5>
<h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>Inspired by : good design is obvious, great design is transparent</p>
<div class="via">via themeforest</div>
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
 </ul>
<img alt="Social post" src="assets/img/social-post-image.png">
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 491px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg">
</div>
<h5>Jeff Curtis</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
</h6>
</div>
<div class="card-description">
<p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. <a href="#">#quote</a></p>
<div class="via">via Twitter</div>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 320px; top: 491px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg">
</div>
<h5>Andy Young</h5>
<h6>Updated his status
<span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>What a lovely day! I think I should go and play outside.</p>
</div>
</div>


<div class="card social-card share share-other col1" data-social="item" style="position: absolute; left: 640px; top: 558px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
</ul>
<img alt="Quote" src="assets/img/social/quote.jpg">
</div>
<div class="card-description">
<p>Like if you agree</p>
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
<div class="card-header clearfix last">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7x.jpg">
</div>
<h5>Tracy Brooks</h5>
<h6>Shared a photo on your wall</h6>
</div>
</div>


<div class="card social-card share share-other col1" data-social="item" style="position: absolute; left: 320px; top: 642px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
</ul>
<img alt="Person photo" src="assets/img/social/person-1.jpg">
</div>
<div class="card-description">
<p><a href="#">#TBT</a> :D</p>
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
<div class="card-header clearfix last">
<div class="user-pic">
<img alt="Avatar" width="33" height="33" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar_small2x.jpg">
</div>
<h5>David Nester</h5>
<h6>Shared a link on your wall</h6>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 683px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg">
</div>
<h5>Nathaniel Hamilton</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>Testing can show the presense of bugs, but not their absence.</p>
<div class="via">via Twitter</div>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 855px;">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg">
</div>
<h5>Nathaniel Hamilton</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>There is nothing new under the sun, but there are lots of old things we don't know yet.
</p>
 <div class="via">via Twitter</div>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 1027px;">
<div class="card-header ">
<h5 class="text-complete pull-left fs-12">News <i class="fa fa-circle text-complete fs-11"></i></h5>
<div class="pull-right small hint-text">
5,345 <i class="fa fa-comment-o"></i>
</div>
<div class="clearfix"></div>
</div>
<div class="card-description">
<h3>Ebola outbreak: Clinical drug trials to start next month as death toll mounts</h3>
</div>
<div class="card-footer clearfix">
<div class="pull-left">via <span class="text-complete">CNN</span>
</div>
<div class="pull-right hint-text">
Apr 23
</div>
<div class="clearfix"></div>
</div>
</div>


<div class="card social-card share  col1" data-social="item" style="position: absolute; left: 640px; top: 1140px;">
<div class="card-header clearfix">
<h5 class="text-success pull-left fs-12">Stock Market <i class="fa fa-circle text-success fs-11"></i></h5>
<div class="pull-right small hint-text">
5,345 <i class="fa fa-comment-o"></i>
</div>
<div class="clearfix"></div>
</div>
<div class="card-description">
<h5 class="hint-text no-margin">Apple Inc.</h5>
<h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
<h3>111.25 <span class="text-success"><i class="fa fa-sort-up small text-success"></i> 0.15 (0.13%)</span>
</h3>
</div>
<div class="card-footer clearfix">
<div class="pull-left">by <span class="text-success">John Smith</span>
</div>
<div class="pull-right hint-text">
Apr 23
</div>
<div class="clearfix"></div>
</div>
</div>

</div>

</div>

</div>

</div>

</div>
</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from 'transformers/ProposalTransformer'
  import VLayout from 'layouts/Dashboard'
  import * as constants from 'constants/'
  import NumeralInput from 'components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
