<template>
<v-layout>
    <section class="hero" style="background: url(&quot;https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg&quot;);">
      <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5);">
        <div class="container">
          <div class="row gutters">
            <div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
              <div class="top-title">
                <h1>About us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="main-container">
            <section class="height-50 imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="img/agency-5.jpg" />
                </div>
            </section>
            <section class="space--md">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-10 col-md-9">
                            <span class="h3">
                                An award-winning public relations firm building enduring consumer relationships for bold brands. We connect research, strategy and design to deliver memorable brand experiences.
                            </span>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large bg--secondary">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <img alt="Image" class="border--round" src="img/work-6.jpg" />
                        </div>
                        <div class="col col-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Stack helped Nike Active engage their audience</h2>
                                <p class="lead">
                                    We worked alongside the team at Nike Active to deliver an attention-grabbing campaign that permeated social media and delivered an increased up-tick in user involvement.
                                </p>
                                <a href="#">See Case Study &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large bg--secondary">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <img alt="Image" class="border--round" src="img/work-3.jpg" />
                        </div>
                        <div class="col col-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Helping M&amp;D Stairs step-up their digital presence</h2>
                                <p class="lead">
                                    We delivered a showcase event for this renowned Melbourne design company that emphaised their heritage and craftsmanship.
                                </p>
                                <a href="#">See Case Study &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <ul class="list-inline list-inline--images">
                                <li>
                                    <img alt="Image" src="img/partner-1.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-5.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-7.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-4.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-6.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--xs bg--dark">
                <div class="container">
                    <div class="row gutters">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col col-4">
                                <h4>Let's build something great</h4>
                            </div>
                            <div class="col col-5">
                                <p class="lead">
                                    Kick it off with our no-obligation project planner
                                </p>
                            </div>
                            <div class="col col-3 text-right text-center-xs">
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Launch Planner
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="text-center-xs space--xs bg--dark ">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-7">
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">About</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">Careers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">Support</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-5 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row gutters">
                        <div class="col col-7">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                        <div class="col col-5 text-right text-center-xs">
                            <a class="type--fine-print" href="#">support@stack.io</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>