<template>
  <v-layout>
    <section class="hero" style="background: url(&quot;https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg&quot;);">
      <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5);">
        <div class="container">
          <div class="row">
            <div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
              <div class="top-title">
                <h1>Advantage</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="main-container">
            <!--end of notification-->
            <section class="switchable feature-large unpad--bottom border--bottom">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <div class="switchable__text">
                                <h2>Designed for companies, small teams and freelancers</h2>
                                <p class="lead">
                                    Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence.
                                </p>
                                <a href="#">Learn More &raquo;</a>
                            </div>
                        </div>
                        <div class="col col-6 col-md-4 col-xs-12 text-center">
                            <img alt="Image" src="img/device-1.png" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>All the tools you'll need</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="feature-large feature-large-2">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-4 col-md-3">
                            <h3>Experience quality</h3>
                            <p class="lead">
                                Stack is built with customization and ease-of-use at its core &mdash; whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template.
                            </p>
                        </div>
                        <div class="col col-4 col-md-4 col-md-offset-1">
                            <img alt="Image" class="border--round box-shadow" src="img/landing-4.jpg" />
                        </div>
                        <div class="col col-4 col-md-2 col-md-offset-1">
                            <hr class="short" />
                            <p>
                                Each purchase of Stack includes six months of free support, including access to our dedicated support forum. In addition to support you'll recieve lifetime updates, including new content and bug-fixes.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary">
                <div class="imageblock__content col-md-4 col-sm-3 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="img/landing-5.jpg" />
                    </div>
                </div>
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-7 col-sm-6">
                            <h2>Design-driven and perfect for modern startups</h2>
                            <p class="lead">
                                Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                            </p>
                            <div class="feature-large__group">
                                <div class="row gutters">
                                    <div class="col col-6">
                                        <div class="feature feature-6">
                                            <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                                            <h5>Design Quickly</h5>
                                            <p>
                                                Combine blocks from a range of categories to build pages that are rich in visual style and interactivity
                                            </p>
                                        </div>
                                        <!--end feature-->
                                    </div>
                                    <div class="col col-6">
                                        <div class="feature feature-6">
                                            <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                                            <h5>Collect Leads</h5>
                                            <p>
                                                Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                                            </p>
                                        </div>
                                        <!--end feature-->
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--xs">
                <div class="container">
                    <div class="row gutters">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col col-4">
                                <h4>Let's get you started</h4>
                            </div>
                            <div class="col col-5">
                                <p class="lead">
                                    Start building beautiful pages in your browser
                                </p>
                            </div>
                            <div class="col col-3 text-right text-center-xs">
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Try Builder
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="text-center-xs space--xs ">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-7">
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">About</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">Careers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">Support</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-5 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row gutters">
                        <div class="col col-7">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                        <div class="col col-5 text-right text-center-xs">
                            <a class="type--fine-print" href="#">support@stack.io</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
  </v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>