<template>
<div class="vue-form-generator" v-if="schema != null">
  <input type="hidden" name="ageOfProperty" :value="schema.characteristics.ageOfProperty" />
  <input type="hidden" name="isProfileFirstBuyer" :value="schema.characteristics.isProfileFirstBuyer" />
  <input type="hidden" name="isProposalUrgent" :value="schema.characteristics.isProposalUrgent" />

  <span v-for="form in schema.fieldset">
  <span>{{form.legend.name}}</span><br />
  <div v-for="fields in form.fields">
  <span>- {{fields.type}}</span><br />
  <input type="hidden" :name="'searchProposalDetails['+fields.index+'].location.city.id'" :value="form.legend.id" />
  <input type="text" :name="'searchProposalDetails['+fields.index+'].priceOfPropertyMinimum'" value="10" />
  <input type="text" :name="'searchProposalDetails['+fields.index+'].priceOfPropertyMaximum'" value="190" />
  <input type="hidden" :name="'searchProposalDetails['+fields.index+'].typeOfProperty'" :value="fields.type" />
  
  </div>
  </span>
</div>
</template>

<script>
export default {
  props: {
    schema: Object
  }
}
</script>
