<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row clearfix">
<div class="col-md-6">
<div class="form-group form-group-default required">
<div>
<input type="checkbox" value="buyer" v-model="model.role" id="buyer">
<label for="yes">Buyer</label>
<input type="checkbox" value="tenant" v-model="model.role" id="tenant">
<label for="no">Tenant</label>
<input type="checkbox" value="seller" v-model="model.role" id="seller">
<label for="no">Seller</label>
<input type="checkbox" value="lessor" v-model="model.role" id="lessor">
<label for="no">Lessor</label>
</div>
</div>
</div>
</div>
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
</div>

</div>
</div>

</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import Transformer from '@/transformers/RoleTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          role: []
        }
      }
    },

    created: function () {
      this.model = Transformer.fetch(this.$store.state.account)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (model) {
        // transform value from array to string before sending to server
        this.model.role.toString()
        this.$store.dispatch('account/changeRole', model)
      }
    },

    /**
     * The computed the page going to use
    */
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
