<template>
          
          <div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
    <a href="/">
      <img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo.png" alt="logo" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
      </a>
      <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
      <p>
        Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
      </p>
        <!-- Content will be placed here -->
        <slot></slot>
  </div>
  </div>
  <!--div class=" full-width">
    <div class="register-container m-b-10 clearfix">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
        <div class="col-md-2 no-padding d-flex align-items-center">
          <img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/pages_icon.png" alt="" class="" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" width="60" height="60">
        </div>
        <div class="col-md-9 no-padding d-flex align-items-center">
          <p class="hinted-text small inline sm-p-t-10">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
        </div>
      </div>
    </div>
  </div-->
</template>

<script>
  /* ============
   * Minimal Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'plain-layout'
  }
</script>
