<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>

        <fieldset :disabled="state.paused">

            <section id="states">



                <article id="getInformation" v-show="state.is.getInformation">
                    <h2>Welcome</h2>


<div class="row">
                              <div class="col-md-12">
                                <div class="form-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <h4 class="form-section"><i class="ft-map-pin"></i> Address Location</h4>
                                    </div>

                                  </div>


                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="form-group" :class="{error: validation.hasError('selectedCities')}">
                                        <label>Choose your zone of selling</label>
                                          <multiselect 
    v-model="selectedCities" 
    id="ajax" 
    label="name" 
    track-by="id" 
    placeholder="Type to search" 
    open-direction="bottom" 
    :custom-label="nameWithProvince"
    :clear-on-select="true"
    :options="cities" 
    :multiple="true"
    :searchable="true" 
    :loading="isLoading" 
    :internal-search="false" 
    :close-on-select="true" 
    :options-limit="300"
    :max-height="600" 
    :show-no-results="true" 
    @search-change="onChangeLocation">
    <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
  </multiselect>
                                        <span class="help-block">{{ validation.firstError('selectedCities') }}</span>
                                        
                                      </div>
                                    </div>
                                  </div>
                                  <h4 class="form-section"><i class="ft-box"></i> Property characteristics</h4>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group" :class="{error: validation.hasError('model.ageOfProperty')}">
                                        <label>Age of property</label>
                                        <select v-model="model.ageOfProperty" class="form-control input-md">
                                          <option value="">Select a value</option>
                                          <option value="is_new">new</option>
                                          <option value="not_new">not new</option>
                                        </select>
                                        <span class="help-block">{{ validation.firstError('model.ageOfProperty') }}</span>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group" :class="{error: validation.hasError('model.isProfileFirstBuyer')}">
                                        <label>Receive first buyer</label>
                                        <select v-model="model.isProfileFirstBuyer" class="form-control input-md">
                                          <option selected="">Select a value</option>
                                          <option value="activated">activated</option>
                                          <option value="not_activated">not activated</option>
                                        </select>
                                        <span class="help-block"> {{ validation.firstError('model.isProfileFirstBuyer') }}</span>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group" :class="{error: validation.hasError('model.isProposalUrgent')}">
                                        <label>Urgency of proposal</label>
                                        <select v-model="model.isProposalUrgent" class="form-control input-md">
                                          <option value="">Select a value</option>
                                          <option v-for="valueType in arrayUrgencyOfProposal" :value="valueType">{{ valueType }}</option>
                                        </select>
                                        <span class="help-block"> {{ validation.firstError('model.isProposalUrgent') }}</span>
                                      </div>
                                    </div>
                                  </div>

                                  <h4 class="form-section"><i class="ft-check-square"></i> Features</h4>
                                  <div class="form-group row" :class="{error: validation.hasError('propertyTypes')}">
                                    <div class="col-md-12">
                                      <label v-for="typeOfProperty in typeOfProperty" class="custom-control custom-checkbox col-md-2">
                                        <input type="checkbox" class="custom-control-input" v-model="propertyTypes" :value="typeOfProperty">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">{{ typeOfProperty }}</span>
                                      </label>
                                    </div>
                                    <span class="help-block"> {{ validation.firstError('propertyTypes') }}</span>
                                  </div>


                                </div>
                              </div>
                            </div>

                </article>

                <article id="getDetails" v-show="state.is.getDetails">

                    <h2>Details</h2>

                    <form class="form form-horizontal">

                        <p>Please provide some personal information</p>

                        <fieldset>

                            <div v-show="state.paused" class="alert alert-info">Communicating with server...</div>

                            <lessor :schema="valueForm">
                            </lessor>

                        </fieldset>

                    </form>

                </article>

                <article id="finish" v-show="state.is.finish">
                    <h2>Thank you!</h2>
                    <p>Your membership information has been emailed to you</p>
                </article>

            </section>

            <section id="controls">
                <button @click="doAction" :disabled="!state.actions.back" class="btn btn-sm" name="back">Back</button>
                <button @click="doAction" :disabled="!state.actions.next" class="btn btn-sm" name="next">Next</button>
                <button @click="doAction" :disabled="!state.actions.restart" class="btn btn-sm" name="restart">Restart</button>
            </section>

        </fieldset>

    </div>
    </div>
    </div>
    <div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
</div>

</div>
</div>

</v-layout>
</template>

<script>
  /* ============
   * Account Index Page
   * ============
   *
   * Page where the user can view the account information.
   */
import {StateMachine, StateHelper} from 'state-machine'
import VLayout from 'layouts/Dashboard'
import lessor from 'components/form/lessor'
import * as constants from 'constants/'
// import lessorService from 'services/lessor'
import SimpleVueValidation from 'simple-vue-validator'
var Validator = SimpleVueValidation.Validator
  
export default {
    data () {
      return {
        iteration: 0,
        schema: {
          characteristics: {},
          fieldset: []
        },
        model: {
          city: null,
          ageOfProperty: '',
          isProfileFirstBuyer: '',
          isProposalUrgent: null,
          type: null,
          size: null,
          description: null
        },
        isLoading: false,
        state: null, // this will be populated by StateHelper data
        arrayUrgencyOfProposal: constants.URGENCY_OF_PROPOSAL,
        propertyTypes: [],
        selectedCities: [],
        typeOfProperty: constants.TYPE_FOR_RENT,
        cities: []
      }
    },
    validators: {
      'selectedCities': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.ageOfProperty': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProfileFirstBuyer': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProposalUrgent': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'propertyTypes': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      }
    },
    created: function () {
      // create state machine
      this.fsm = StateMachine.create({
        transitions: [
          'next    : getInformation > getDetails > finish',
          'back    : getInformation < getDetails',
          'restart : getInformation        < finish'
        ],
        handlers: {
          'getDetails@next': this.onSubmit,
          'finish': this.onComplete
        }
      })
      // create and assign state helper object / data to application state
      this.state = StateHelper.object(this.fsm).data
    },
    methods: {
      // ------------------------------------------------------------------------------------------------
      // ui code
      doAction: function (event) {
        this.validate(event)
      },
      onSubmit: function (event, fsm) {
        this.submit()
        // fsm.cancel()
      },
      onComplete: function () {
        // this.reset()
      },
      validate: function (event) {
        this.$validate().then(success => {
          if (success) {
            // until we get true we deliver the function generateSchema
            if (this.state.is.getDetails === undefined) {
              this.generateSchema()
            }
            this.fsm.do(event.target.name)
          }
        })
      },
      generateSchema: function () {
        let fieldArray = []
        for (let x in this.selectedCities) {
          for (let y in this.propertyTypes) {
            fieldArray.push({
              'index': this.iteration,
              'city': this.selectedCities[x],
              'type': this.propertyTypes[y]
            })
            this.iteration += 1
          }
          this.schema.fieldset.push({
            'legend': this.selectedCities[x],
            'fields': fieldArray
          })
          fieldArray = []
        }
        console.log(this.iteration)
        this.schema.characteristics.ageOfProperty = this.model.ageOfProperty
        this.schema.characteristics.isProfileFirstBuyer = this.model.isProfileFirstBuyer
        this.schema.characteristics.isProposalUrgent = this.model.isProposalUrgent
      },
      submit: function () {
        this.fsm.pause()
        console.log('Submitting data...')
        setTimeout(function () {
          let $form = document.querySelector('form.form')
          let formData = new FormData($form[0])
          formData.append('ageOfProperty', this.model.ageOfProperty)
          formData.append('isProfileFirstBuyer', this.model.isProfileFirstBuyer)
          formData.append('isProposalUrgent', this.model.isProposalUrgent)
          for (let x = 0; x < this.iteration; x++) {
            formData.append('searchProposalDetails[' + x + '].priceOfPropertyMaximum', document.querySelector('[name="searchProposalDetails[' + x + '].priceOfPropertyMaximum"]').value)
            formData.append('searchProposalDetails[' + x + '].priceOfPropertyMinimum', document.querySelector('[name="searchProposalDetails[' + x + '].priceOfPropertyMinimum"]').value)
            formData.append('searchProposalDetails[' + x + '].typeOfProperty', document.querySelector('[name="searchProposalDetails[' + x + '].typeOfProperty"]').value)
            formData.append('searchProposalDetails[' + x + '].location', document.querySelector('[name="searchProposalDetails[' + x + '].location.city.id"]').value)
          }
          let payload = {method: 'post', url: 'api/profile/lessor/new', data: formData}
          this.$store.dispatch('form/submit', payload)
          console.log('Data submitted!')
          this.fsm.resume()
        }.bind(this), 2000)
      },
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      }
    },
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      },
      valueForm: function () {
        // need to init the schema array when the user get back (to avoid append data)
        if (this.state.actions.back === undefined) {
          this.schema = {
            characteristics: {},
            fieldset: []
          }
          this.iteration = 0
        }
        return this.schema
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      lessor,
      VLayout
    }
}
</script>

<!--script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import {StateMachine, StateHelper} from 'state-machine'
  import form from 'components/form/lessor'
  import VLayout from 'layouts/Login'
  import * as constants from 'constants/'
  import SimpleVueValidation from 'simple-vue-validator'
  var Validator = SimpleVueValidation.Validator

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-rent-new',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          typeOfProperty: [],
          typeOfProposal: 'for_rent',
          priceMinimum: null,
          priceMaximum: null,
          isFurnished: '',
          size: null
        },
        state: null, // this will be populated by StateHelper data
        isLoading: false,
        cities: []
      }
    },

    validators: {
      'selectedCities': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.ageOfProperty': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProfileFirstBuyer': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProposalUrgent': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'propertyTypes': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      }
    },

    created: function () {
      // create state machine
      this.fsm = StateMachine.create({
        transitions: [
          'next    : getInformation > getDetails > finish',
          'back    : getInformation < getDetails',
          'restart : getInformation        < finish'
        ],
        handlers: {
          'getDetails@next': this.onSubmit,
          'finish': this.onComplete
        }
      })
      // create and assign state helper object / data to application state
      this.state = StateHelper.object(this.fsm).data
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: this.model}
        this.$store.dispatch('form/submit', payload)
      },
      validate: function (event) {
        this.$validate().then(success => {
          if (success) {
            // until we get true we deliver the function generateSchema
            if (this.state.is.getDetails === undefined) {
              this.generateSchema()
            }
            this.fsm.do(event.target.name)
          }
        })
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      urgencyOfProposal: function () {
        constants.URGENCY_OF_PROPOSAL.splice(2)
        return constants.URGENCY_OF_PROPOSAL
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_RENT
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      form,
      VLayout
    }
  }
</script-->
